## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[65, 10, 81, 27, 72, 37, 13, 98, 56, 33, 66, 59, 53, 54, 6, 79, 68, 52, 22, 15, 67, 44, 45, 95, 46, 41, 30, 71, 17, 31, 55, 14, 90, 87, 84, 83, 92, 70, 80, 35, 40, 42, 0, 51, 49, 78, 12, 77, 7, 3, 8, 38, 2, 74, 11, 58, 76, 34, 1, 26, 94, 21, 4, 93, 61, 69, 63, 60, 28, 88, 20, 29, 82, 19, 99, 24, 62, 25, 39, 5]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []
for n in range(1, 81):
    sample_list_2.append(random.randrange(100))
print(sample_list_2)
print(len(sample_list_2))

[56, 97, 71, 40, 32, 74, 21, 26, 24, 6, 17, 37, 64, 23, 13, 72, 8, 98, 21, 2, 29, 23, 45, 38, 3, 50, 75, 87, 17, 9, 10, 89, 42, 42, 97, 77, 26, 66, 26, 80, 39, 15, 52, 23, 20, 54, 54, 9, 5, 86, 1, 80, 47, 78, 16, 31, 30, 53, 65, 13, 13, 2, 57, 62, 41, 66, 37, 49, 9, 37, 28, 34, 71, 1, 66, 65, 6, 6, 91, 87]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set()
for ele1 in set1:
    if ele1 not in set2:
        set3.add(ele1)
print(set3)

{0, 4, 7, 11, 12, 14, 19, 22, 25, 27, 33, 35, 44, 46, 51, 55, 58, 59, 60, 61, 63, 67, 68, 69, 70, 76, 79, 81, 82, 83, 84, 88, 90, 92, 93, 94, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set()
for ele2 in set2:
    if ele2 not in set1:
        set4.add(ele2)
print(set4)

{32, 64, 89, 97, 9, 75, 47, 16, 50, 86, 23, 57, 91}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set()
for ele1 in set1:
    if ele1 in set2:
        set5.add(ele1)
print(set5)

{1, 2, 3, 5, 6, 8, 10, 13, 15, 17, 20, 21, 24, 26, 28, 29, 30, 31, 34, 37, 38, 39, 40, 41, 42, 45, 49, 52, 53, 54, 56, 62, 65, 66, 71, 72, 74, 77, 78, 80, 87, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

True
True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 44, 45, 46, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 88, 90, 92, 93, 94, 95, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set1 = set.union(set3, set4, set5)
set3 = set.union(set1, set2)
set1 == set3

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for ele1 in list_to_remove:
    set1.discard(ele1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}